# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
backend.hcl
!backend.hcl.example

# Secrets / local
.env
*.pem

# OS / editor
.DS_Store
.vscode/
.idea/
